* {
  /* Zerando margens e paddings padrão */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Inclui bordas e paddings no tamanho total dos elementos */
}

:root {
  /* Definindo variáveis de cores */
  --cor--texto: #ffffff;
  --cor--fundo: url(./assets/bg-mobile.jpg);
  --cor--link: rgba(255, 255, 255, 0.1);
  --cor--link-hover: rgba(255, 255, 255, 0.2);
  --cor--link-border: rgb(255, 255, 255);
  --button: url(./assets/moon-stars.svg);
}

.branco {
  --cor--link-border: rgba(0, 0, 0, 0.7);
  --cor--link-hover: rgba(0, 0, 0, 0.2);
  --cor--link: rgba(0, 0, 0, 0.1);
  --cor--texto: #000000;
  --cor--fundo: url(./assets/bg-mobile-light.jpg);
  --button: url(./assets/sun.svg);
}

body {
  /* Background url= onde esta a imagem de fundo, no-repeat = não repete, center/cover = centraliza e cobre o fundo */

  background: var(--cor--fundo) no-repeat center/cover;
  height: 100vh; /* Altura total da viewport */
}

body * {
  /* Definindo a fonte padrão para o corpo da página */
  font-family: "Inter", sans-serif; /* Fonte importada do Google Fonts */
  color: var(--cor--texto); /* Cor do texto padrão */
}

#container {
  /* Estilizando o container */
  width: 100%; /* Largura do container */
  max-width: 588px; /* Largura máxima do container */
  margin: 56px auto 0px; /* Centraliza o container na página */
  padding: 0 24px; /* Espaçamento interno */
}

/*perfil*/

#profileblack {
  /* Estilizando a seção de perfil */
  padding: 24px; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */
}

#profileblack img {
  /* Estilizando a seção de perfil */
  width: 112px; /* Largura da imagem */
}

#profileblack p {
  /* Estilizando o parágrafo */
  font-weight: 500; /* Peso da fonte */
  line-height: 24px; /* Altura da linha */
  margin-top: 8px; /* Espaçamento superior */
}


/*botao tema*/
#button {
  position: relative;
  width: 64px;
  margin: 0 auto;
}

#button button {
  
  width: 32px;
  height: 32px;
  background: white var(--button) no-repeat center;
  border-radius: 50%;
  cursor: pointer;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  animation: voltando 0.3s;
}
.branco #button button {
  animation:  indo 0.3s forwards;
}

#button span {
  display: block;
  width: 64px;
  height: 24px;
  border-radius: 9999px;
  border: 1px solid var(--cor--link-border);
  background: var(--cor--link-hover);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);


}

/*links*/
ul {
  list-style: none; /* Remove os marcadores padrão da lista */
  padding: 24px 0; /* Espaçamento interno */
  display: flex; /* Usa flexbox para layout */
  flex-direction: column; /* Direção da coluna */
  gap: 16px; /* Espaçamento entre os itens */
}

ul li a {
  /* Estilizando os links */
  display: flex; /* Usa flexbox para layout */
  padding: 16px 24px; /* Espaçamento interno */
  border-radius: 8px; /* Bordas arredondadas */
  justify-content: center; /* Centraliza o conteúdo */
  align-items: center; /* Centraliza o conteúdo verticalmente */

  font-weight: 700; /* Peso da fonte */
  text-decoration: none; /* Remove sublinhado */

  background-color: var(--cor--link); /* Fundo semi-transparente */
  border: 1px solid var(--cor--texto);
  backdrop-filter: blur(4px); /* Efeito de desfoque no fundo */
  -webkit-backdrop-filter: blur(
    4px
  ); /* Efeito de desfoque no fundo para Safari */

  transition: background-color 0.3s, border-color 0.3s, transform 0.3s; /* Transição suave para hover */
}

ul li a:hover {
  /* Efeito hover nos links */
  background-color: var(--cor--link-hover);
  border-color: var(--cor--link-border);
  transform: scale(1.05); /* Aumenta o tamanho em 5% quando passar o mouse */
}

/*icone*/
#icons {
  display: flex;
  justify-content: center;
  gap: 27px;
  padding: 24px 0;
  font-size: 24px;
}

#icons a {
  
  transition: transform 0.3s; /* Adiciona transição suave */
}

#icons a:hover {
  transform: scale(1.3); /* Aumenta o tamanho em 30% quando passar o mouse */
}

/*footer*/
footer {
  text-align: center; /* Centraliza o texto */
  font-size: 14px; /* Tamanho da fonte */
  padding: 24px 0; /* Espaçamento interno */
  color: rgba(255, 255, 255, 0.6); /* Cor do texto com transparência */
}

@media (max-width: 600px) {
   :root {
    --cor--fundo: url(./assets/bg-desktop.jpg);
  }

  .branco {
    --cor--fundo: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes indo  {
  from {
    left: 0;
  }
  to {
    left: 50%
  }
}

@keyframes voltando  {
  from {
    left: 50%
  }
  to {
    left: 0;
  }
  
}